@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

html,
body {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  font-family: "PlusJakartaSans", sans-serif;
}

#root {
  height: 100%;
  overflow: hidden;
}
